In [37]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [38]:
# first of all creating Spark Session
sparkSession = SparkSession.builder.appName("WithoutRDD_Demo").getOrCreate()

In [39]:
# now we are resding directly from the CSV file without creating RDDs.
people = sparkSession.read.option("header","True").option("inferSchema","True").csv("fakefriends-header.csv")

In [40]:
# printing Schema
print("Structure of Schema: ")
people.printSchema()

Structure of Schema:
root
 |-- userID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- friends: integer (nullable = true)

In [41]:
# printing Particular Column val;ues
print("Value of Name column: ")
people.select("name").show()

Value of Name column:
+--------+
|    name|
+--------+
|    Will|
|Jean-Luc|
|    Hugh|
|  Deanna|
|   Quark|
|  Weyoun|
|  Gowron|
|    Will|
|  Jadzia|
|    Hugh|
|     Odo|
|     Ben|
|   Keiko|
|Jean-Luc|
|    Hugh|
|     Rom|
|  Weyoun|
|     Odo|
|Jean-Luc|
|  Geordi|
+--------+
only showing top 20 rows

In [42]:
# Filtering data as per requirement
print("Data of the people whoes age is less than 21 : ")
people.filter("age<21").show()

Data of the people whoes age is less than 21 :
+------+-------+---+-------+
|userID|   name|age|friends|
+------+-------+---+-------+
|    21|  Miles| 19|    268|
|    48|    Nog| 20|      1|
|    52|Beverly| 19|    269|
|    54|  Brunt| 19|      5|
|    60| Geordi| 20|    100|
|    73|  Brunt| 20|    384|
|   106|Beverly| 18|    499|
|   115|  Dukat| 18|    397|
|   133|  Quark| 19|    265|
|   136|   Will| 19|    335|
|   225|   Elim| 19|    106|
|   304|   Will| 19|    404|
|   327| Julian| 20|     63|
|   341|   Data| 18|    326|
|   349| Kasidy| 20|    277|
|   366|  Keiko| 19|    119|
|   373|  Quark| 19|    272|
|   377|Beverly| 18|    418|
|   404| Kasidy| 18|     24|
|   409|    Nog| 19|    267|
+------+-------+---+-------+
only showing top 20 rows

In [43]:
# Filtering particular column as per requirement
print("Only Name of the people whoes age is less than 21 : ")
people.filter("age<21").select("name").show()

Only Name of the people whoes age is less than 21 :
+-------+
|   name|
+-------+
|  Miles|
|    Nog|
|Beverly|
|  Brunt|
| Geordi|
|  Brunt|
|Beverly|
|  Dukat|
|  Quark|
|   Will|
|   Elim|
|   Will|
| Julian|
|   Data|
| Kasidy|
|  Keiko|
|  Quark|
|Beverly|
| Kasidy|
|    Nog|
+-------+
only showing top 20 rows

In [44]:
# Group by Age
print("Only Name of the people whoes age is less than 21 : ")
people.groupBy("age").count().show()

Only Name of the people whoes age is less than 21 :
+---+-----+
|age|count|
+---+-----+
| 31|    8|
| 65|    5|
| 53|    7|
| 34|    6|
| 28|   10|
| 26|   17|
| 27|    8|
| 44|   12|
| 22|    7|
| 47|    9|
| 52|   11|
| 40|   17|
| 20|    5|
| 57|   12|
| 54|   13|
| 48|   10|
| 19|   11|
| 64|   12|
| 41|    9|
| 43|    7|
+---+-----+
only showing top 20 rows

In [45]:
# Manipulating Age by +10
people.select(people.name, people.age , people.age+10).show()

+--------+---+----------+
|    name|age|(age + 10)|
+--------+---+----------+
|    Will| 33|        43|
|Jean-Luc| 26|        36|
|    Hugh| 55|        65|
|  Deanna| 40|        50|
|   Quark| 68|        78|
|  Weyoun| 59|        69|
|  Gowron| 37|        47|
|    Will| 54|        64|
|  Jadzia| 38|        48|
|    Hugh| 27|        37|
|     Odo| 53|        63|
|     Ben| 57|        67|
|   Keiko| 54|        64|
|Jean-Luc| 56|        66|
|    Hugh| 43|        53|
|     Rom| 36|        46|
|  Weyoun| 22|        32|
|     Odo| 35|        45|
|Jean-Luc| 45|        55|
|  Geordi| 60|        70|
+--------+---+----------+
only showing top 20 rows

In [46]:
sparkSession.stop()